/* .pProfileHead {
  width: 100%;
  border: 2px solid #ffee54;
  border-radius: 55px !important;
 
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 55px 55px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
.pdCard {
  background-color: white !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.likedd {
  background-color: #ffee54;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  margin-left: 300px;
  margin-top: 15px;
}
.pdCT {
  color: #ffee54;
  font-size: 10px;
  margin-top: -10px;
}
.pdCounter {
  color: #ffee54;
  font-size: 25px;
}
.pdtimer {
  margin-left: 300px;
}
.pdltx {
  font-size: 12px;
  width: 80px;
padding: 5px;
}

.pdDate {
  background-color: white;
  border-radius: 50px;
  border: #ffee54 solid;
  text-align: center;
  width: 250px;
  margin-left: 70px;
  margin-top: 100px;
}
.pdDateTex {
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.pdDataCard {
  margin-top: 100px;
  background-color: rgba(3, 3, 3, 0.096);
  padding-top: 10px;

}
.pdBox {
  margin-left: -260px;
  width: 200px;
}


.bio {
  width: 90%;
  text-align: justify;
  margin: 0 auto;
}
.bioLabel {
  margin-left: 25px;
  font-size: 15px;
  font-weight: 600;
}
.ifBox {
  margin-left: 28px !important;
}
.ifHead {
  font-size: 10px;
}

.ifBody {
  font-size: 15px;
  margin-top: -5px;
}
.inLabel {
  font-size: 13px;
}
.hbInt {
  background-color: #ffee54;
  text-align: center;
  border-radius: 4px;
}
.hbInTx {
  background-color: #736cc7;
  text-align: center;
  border-radius: 4px;
  color: #ffee54;
  font-size: 13px;
  margin-top: -5px;
  margin-left: 5%;
}

.matchPointer {
  cursor: pointer;
}
.ppPborder{
  border: 2px red solid;
}
.ppPBox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ppPP{
  width: 350px;
  text-align: justify;
}

.pppA{
  margin-top: -8px;
  font-size: 18px;
  width: 150px;
  font-weight: 600;
}

/* laptops/Computers  */
  .mHeaderM{
    padding: 10px 70px !important;
  }
  .likedd {
      background-color: #ffee54;
      width: 80px;
      text-align: center;
      border-radius: 4px;
      margin-left: 300px;
      margin-top: 15px;
  }
    .pdtimer {
      margin-left: 300px;
  }
    .pdDate {
      background-color: white;
      border-radius: 50px;
      border: #ffee54 solid;
      text-align: center;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
  }
  
    .pdVerified {
      width: 56px;
      padding-left: 10px;
      margin-left: -10px;
  }
  .pdName {
    color: white;
    font-size: 25px;
  }
  .pdProfession {
    color: white;
    font-size: 15px;
    margin-top: -14px;
  }
  .pdLocation {
    color: white;
    font-size: 15px;
    margin-top: -8px;
  }
    /* DATA */
    .ppPT{
      font-size: 15px;
      font-weight: 600;
      margin-left: -445px;
      margin-bottom: 10px;
    }
    .ppPP{
      width: 479px;
      text-align: justify;
      margin-right: 8px;
      margin-left: -16px;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .pppT{
      font-size: 12px;
      width: 180px;
    }
    .pppA{
      margin-top: -8px;
      font-size: 18px;
      width: 180px;
      font-weight: 600;
    }
    
    .pppTR{
      margin-top: 5px;  
      font-size: 12px;
      width: 370px;
    
    }
    .pppAR{
      margin-top: -8px;
      font-size: 18px;
      width: 370px;
      font-weight: 600;
    }
    .mSpace{
      margin-top: 10px;
    }
  

/* Tablets  */
@media (max-width: 768px) {
  .mHeaderM{
    padding: 10px 70px !important;
  }
  .likedd {
      background-color: #ffee54;
      width: 80px;
      text-align: center;
      border-radius: 4px;
      margin-left: 300px;
      margin-top: 15px;
  }
    .pdtimer {
      margin-left: 300px;
  }
    .pdDate {
      background-color: white;
      border-radius: 50px;
      border: #ffee54 solid;
      text-align: center;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
  }
  
    .pdVerified {
      width: 56px;
      padding-left: 10px;
      margin-left: -10px;
  }
  .pdName {
    color: white;
    font-size: 25px;
  }
  .pdProfession {
    color: white;
    font-size: 15px;
    margin-top: -14px;
  }
  .pdLocation {
    color: white;
    font-size: 15px;
    margin-top: -8px;
  }
    /* DATA */
    .ppPT{
      font-size: 15px;
      font-weight: 600;
      margin-left: -445px;
      margin-bottom: 10px;
    }
    .ppPP{
      width: 479px;
      text-align: justify;
      margin-right: 8px;
      margin-left: -16px;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .pppT{
      font-size: 12px;
      width: 180px;
    }
    .pppA{
      margin-top: -8px;
      font-size: 18px;
      width: 180px;
      font-weight: 600;
    }
    
    .pppTR{
      margin-top: 5px;  
      font-size: 12px;
      width: 370px;
    
    }
    .pppAR{
      margin-top: -8px;
      font-size: 18px;
      width: 370px;
      font-weight: 600;
    }
    .mSpace{
      margin-top: 10px;
    }
  }
/* Mobile large Screens */
@media (max-width: 425px) {
  .mHeaderM{
    padding: 10px 70px !important;
  }
  .likedd {
      background-color: #ffee54;
      width: 80px;
      text-align: center;
      border-radius: 4px;
      margin-left: 300px;
      margin-top: 15px;
  }
    .pdtimer {
      margin-left: 300px;
  }
    .pdDate {
      background-color: white;
      border-radius: 50px;
      border: #ffee54 solid;
      text-align: center;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
  }
  
    .pdVerified {
      width: 56px;
      padding-left: 10px;
      margin-left: -10px;
  }
  .pdName {
    color: white;
    font-size: 25px;
  }
  .pdProfession {
    color: white;
    font-size: 15px;
    margin-top: -14px;
  }
  .pdLocation {
    color: white;
    font-size: 15px;
    margin-top: -8px;
  }
    /* DATA */
    .ppPT{
      font-size: 15px;
      font-weight: 600;
      margin-left: -365px;
      margin-bottom: 10px;
    }
    .ppPP{
      width: 400px;
      text-align: justify;
      margin-right: 8px;
      margin-left: -16px;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .pppT{
      font-size: 12px;
      width: 180px;
    }
    .pppA{
      margin-top: -8px;
      font-size: 18px;
      width: 180px;
      font-weight: 600;
    }
    
    .pppTR{
      margin-top: 5px;  
      font-size: 12px;
      width: 370px;
    
    }
    .pppAR{
      margin-top: -8px;
      font-size: 18px;
      width: 370px;
      font-weight: 600;
    }
    .mSpace{
      margin-top: 10px;
    }
  }
/* Semi tiny Screens */
@media (max-width: 375px) {
  .mHeaderM{
    padding: 10px 40px !important;
  }
  .likedd {
      background-color: #ffee54;
      width: 80px;
      text-align: center;
      border-radius: 4px;
      margin-left: 222px;
      margin-top: 15px;
  }
    .pdtimer {
      margin-left: 223px;
  }
    .pdDate {
      background-color: white;
      border-radius: 50px;
      border: #ffee54 solid;
      text-align: center;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
  }
  
    .pdVerified {
      width: 56px;
      padding-left: 10px;
      margin-left: -10px;
  }
  .pdName {
    color: white;
    font-size: 25px;
    margin-left: 25px;
  }
  .pdProfession {
    color: white;
    font-size: 15px;
    margin-top: -14px;
    margin-left: 25px;
  }
  .pdLocation {
    color: white;
    font-size: 15px;
    margin-top: -8px;
    margin-left: 25px;
  }
    /* DATA */
    .ppPT{
      font-size: 15px;
      font-weight: 600;
      margin-left: -300px;
      margin-bottom: 10px;
    }
    .ppPP{
      width: 342px;
      text-align: justify;
      margin-right: 8px;
      margin-left: -10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .pppT{
      font-size: 12px;
      width: 150px;
    }
    .pppA{
      margin-top: -8px;
      font-size: 18px;
      width: 150px;
      font-weight: 600;
    }
    
    .pppTR{
      margin-top: 5px;  
      font-size: 12px;
      width: 150px;
    
    }
    .pppAR{
      margin-top: -8px;
      font-size: 18px;
      width: 320px;
      font-weight: 600;
    }
    .mSpace{
      margin-top: 10px;
    }
  }
/* tiny Screens */
@media (max-width: 320px) {
.likedd {
    background-color: #ffee54;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    margin-left: 222px;
    margin-top: 15px;
}
  .pdtimer {
    margin-left: 223px;
}
  .pdDate {
    background-color: white;
    border-radius: 50px;
    border: #ffee54 solid;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

  .pdVerified {
    width: 56px;
    padding-left: 10px;
    margin-left: -10px;
}
.pdName {
  color: white;
  font-size: 25px;
  margin-left: 25px;
}
.pdProfession {
  color: white;
  font-size: 15px;
  margin-top: -14px;
  margin-left: 25px;
}
.pdLocation {
  color: white;
  font-size: 15px;
  margin-top: -8px;
  margin-left: 25px;
}
  /* DATA */
  .ppPT{
    font-size: 15px;
    font-weight: 600;
    margin-left: -250px;
    margin-bottom: 10px;
  }
  .ppPP{
    width: 300px;
    text-align: justify;
    margin-right: 8px;
    margin-left: -10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .pppT{
    font-size: 12px;
    width: 120px;
  }
  .pppA{
    margin-top: -8px;
    font-size: 18px;
    width: 120px;
    font-weight: 600;
  }
  
  .pppTR{
    margin-top: 5px;
    margin-left: 60px;

    font-size: 12px;
    width: 150px;
  
  }
  .pppAR{
    margin-top: -8px;
    margin-left: 60px;
    font-size: 18px;
    width: 320px;
    font-weight: 600;
  }
  .mSpace{
    margin-top: 10px;
  }
}